<div class="iatFrame">
  <div class="left">
    <div class="upper">{{.FrameTitles.UpperLeft}}</div>
    <div class="lower">{{.FrameTitles.LowerLeft}}</div>
  </div>
  <div class="right">
    <div class="upper">{{.FrameTitles.UpperRight}}</div>
    <div class="lower">{{.FrameTitles.LowerRight}}</div>
  </div>
  <div class="center">
    {{.Center}}
  </div>
</div>
